{% extends "base.html" %}

{% block title %}Expense{% endblock %}

{%block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/shared.css')}}">

{% endblock %}
{%block extra_js %}
    <script src="{{ url_for('static', filename = 'js/shared.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/expense.js')}}"></script>
{% endblock %}
{% block navigation %}

    <div class="nav-header">
        <a href="{{ url_for('category') }}">Categories</a> 
        <a href="{{ url_for('report') }}"> Report </a>
    </div>

    <div class="logout-link">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
{% endblock %}
{% block content %}


<div class="main-container">
     <div id="snackbar"></div>
    <div class="main-header">
        <h2>Expense Tracker</h2>
        <button onclick="openForm()">Add Expense</button>
    </div>

    <table id="data-table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% if expenses %}
            {% for expense in expenses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category.name }}</td>
                <td>{{ expense.date }}</td>
                <td>{{ expense.description }}</td>
                <td><button onclick="deleteData(event)" class="delete-button" data-id="{{ expense.transaction_id }}">Delete</button></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No expenses found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>

</div>


<div id="modal" class="modal">
    <div class="modal-content">
        <h3>Add Expense</h3>
        <form onsubmit="addExpense(event)">
            <select id="category" style="width: 90%;" required>
                {% if categories %}
                    <option value="" selected disabled>Select category</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                {% else %}
                    <option value="">No categories available</option>
                {% endif %}
            </select>
            <!-- <input type="text" id="category" placeholder="Category" required> -->
            <input type="number" id="amount" placeholder="Amount" required>
            <textarea id="description" placeholder="Description" rows="5"></textarea>
            <input type="date" id="date">

            <div class="modal-button">
                <button type="submit">Save</button>
                <button  onclick="closeForm()">Cancel</button>
            </div>
        </form>
    </div>
</div>
 

{% endblock %} 

