{% extends "base.html" %}

{% block title %}Forget Password{% endblock %}

{%block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authentication.css') }}">
   
{% endblock %}
{% block extra_js %}
 <script src="{{ url_for('static', filename='js/forget.js') }}"></script>
{% endblock %}
{% block content %}
<div class="authentication-container">
        <div class = "authentication-form">
            <h2>Forgot Password</h2>
            <form method="POST" id="forget-form" action="#">
                <input type="email" name="email" placeholder="Email" id="email" required><br>
                <p>
                  
                </p>
                <button type="submit" onclick="resetPassword(event)">Reset Password</button>
            </form>
        </div>
    </div>

{% endblock %}



