{% extends "base.html" %}

{% block title %}Login{% endblock %}

{%block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authentication.css') }}">
{% endblock %}
{% block extra_js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block content %}
<div class="authentication-container">
        <div class = "authentication-form">
            <h2>Login</h2>
            <form onsubmit="submitCredentials(event)">
                <input type="text" name="username" placeholder="username" id="username" required><br>
                <input type="password" name="password" placeholder="password" id="password" required><br>
                <button type="submit">Login</button>
            </form>
        </div>
          <div id="snackbar"></div>
        <br><br>
        <div class = "links">
            <a href="{{ url_for('signup') }}" >Don't have an account? Register</a>
            <br><br>
            <a href="{{ url_for('forget_password') }}" >Forgot Password?</a>
        </div>
    </div>
{% endblock %}


