{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{%block extra_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/authentication.css') }}">
{% endblock %}
{% block extra_js %}
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>
{% endblock %}
{% block content %}
<div class="authentication-container">
        <div class="authentication-form">
            <h2>Sign Up</h2>

            <form onsubmit="submitForm(event)">
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="email" name="email" placeholder="Email" required><br>
                <input type="password" name="password" placeholder="Password"  id="password" oninput="checkPassword()" required>
                <p id="password-para"></p>
                <input type="password" name="confirm_password" placeholder="Confirm Password" id="confirm_password" oninput="checkConfirmPassword()" required>
                <p id="confirm-password-para"></p>

                <button type="submit">Register</button>
            </form>
        </div>
        <div id="snackbar"></div>
        <div class="links" style="margin-top: 20px;">
            <a href="{{ url_for('login') }}">Already have an account? Login</a><br>
        </div>
    </div>

{% endblock %}
