{% extends "base.html" %}

{% block title %}Category{% endblock %}

{%block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/shared.js') }}"></script>
    <script src="{{ url_for('static', filename='js/category.js') }}"></script>
{% endblock %}

{% block navigation %}

    <div class="nav-header">
        <a href="{{ url_for('expense.expense') }}">Expenses</a> 
        <a href="{{ url_for('report.report') }}">Report </a>
    </div>
    <div class="logout-link">
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
{% endblock %}

{% block content %}
<div class="main-container">

 
    <div class="main-header">
        <h2>Categories </h2>
        <button onclick="openForm()">Add Category</button>
    </div>

    <table id="data-table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Date added</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% if categories %}
            {% for category in categories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.date_added }}</td>
                <td><button onclick="deleteData(event)" class="delete-button" data-id="{{ category.category_id }}">Delete</button></td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No categories found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
 <div id="snackbar"></div>

</div>



</div>


<div id="modal" class="modal">
    <div class="modal-content">
        <h3>Add Category</h3>

        <form onsubmit="addCategory(event)">
        <input type="text" id="name" placeholder="Name" required>
        <input type="date" id="date">

        <div class="modal-button">
            <button type="submit">Save</button>
            <button onclick="closeForm()">Cancel</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}
