{% extends "base.html" %}

{% block title %}Expense Report{% endblock %}

{%block extra_css %}
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/report.css') }}">
{% endblock %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename = 'js/report.js') }}"></script>
{% endblock %}
{% block navigation %}

    <div class="nav-header">
                <a href="{{ url_for('expense.expense') }}">Expenses</a> 
                <a href="{{ url_for('category.category') }}">Categories</a>
    </div>
      <div class="logout-link">
                <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>

{% endblock %}
{% block content %}
<div class="report-container">
            <div class="report-header">
            <h2> Report </h2>
            </div>
            <div class="options-container">
            <div id="snackbar"></div>
  
            <label for="category" class="cat-label"> Category:</label>
            <select id="category" class="category-select">
                {% if categories|length == 0 %}
                    <option value="">No categories available</option>
                {% else %}
                    <option value="">All Categories</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button onclick="generateGraphs(event)" type="button" class="category-select">Generate</button>

            </div>
             <div class="chart-container">
                <div class="chart-monthly" >
                    <h3>Monthly Category Totals</h3>
                    <canvas id="monthlyCategoryChart"></canvas>
                </div>
                <div class="chart-yearly" >
                    <h3>Yearly Category Totals</h3>
                    <canvas id="yearlyCategoryChart"></canvas>
                </div>
                <div class="chart" >
                    <h3>Category Split</h3>
                    <canvas id="pieCategoryChart"></canvas>
                </div>
                <div class="summary-card">
                <span class="summary-label">Yearly Totals</span>
                <div id="yearlySummary" class="yearly-summary-list"></div>
            </div>
        </div>
    </div>
{% endblock %}




